
<script>
//메뉴 마우스 오우버
  jQuery(function(){
    jQuery('.ui.four.item.menu .item').hover(function(){
      jQuery(this).css('background-color','#cccccc');
    },function(){
      jQuery(this).css('background-color','#eeeeee');
    })
  });
</script>

</body>
</html>