<!doctype html>
<html>
<head><title><%=title%></title>
  <link rel='stylesheet' href='/stylesheets/semantic.css' type='text/css' media='all'>
  <link rel='stylesheet' href='/UI-Icon-master/icon.min.css' type='text/css' media='all'>
  <like rel='stylesheet' href='/UI-Dropdown-master/dropdown.min.css' type='text/css' media='all'>
  <script type='text/javascript' src='/jquery/jquery.js'></script>
  <script type='text/javascript' src='/stylesheets/semantic.js'></script>
  <script type='text/javascript' src='/UI-Dropdown-master/dropdown.min.js'></script>
  <link rel='stylesheet' href='/c3js/c3.css' type='text/css' media='all'>
  <script type='text/javascript' src='/d3/d3.min.js' charset='utf-8'></script>
  <script type='text/javascript' src='/c3js/c3.min.js'></script>
<style>
  .eight{
    background-color:#eeeeee;
  }

  #callChart1 svg,#completeChart1 svg{
    background-color:#454545;
  }
  /* x축 선색 */
  .c3 .c3-axis-x path,
  .c3 .c3-axis-x line{
    stroke:#ddd;
  }

  .c3 .c3-axis-y path,
  .c3 .c3-axis-y lines{
    stroke:#ddd;
  }
  /* x 축 글자 색*/
  .c3 .c3-axis-x{
    stroke:white;
    font-weight:100;
  }

  .c3 .c3-axis-y{
    stroke:white;
    font-weight:100;
  }
  /*아래 범레의 글자색 변경*/
  .c3 .c3-legend-item{
     fill:white
  }
</style>
<script>
jQuery(function() {
  jQuery('.ui.dropdown').dropdown();
});
</script>

</head>
<body>
  <div class="ui grid container">
  <div class="sixteen wide column"><h3><center>VoLTE 복합장애 감시 시스템 - <%=title%></center></h3></div>
    <div class="eight wide column">
      <div class="ui loading selection dropdown">
        Select CSCF ??<i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"><a href='/cscf1' title='CSCF#1' alt='CSCF#1'>CSCF#1</a></div>
          <div class="item"><a href='#cscf2' title='CSCF#2' alt='CSCF#2'>CSCF#2</a></div>
          <div class="item"><a href='/cscf3' title='CSCF#3' alt='CSCF#3'>CSCF#3</a></div>
          <div class="item"><a href='/cscf4' title='CSCF#4' alt='CSCF#4'>CSCF#4</a></div>
          <div class="item"><a href='/cscf5' title='CSCF#5' alt='CSCF#5'>CSCF#5</a></div>
          <div class="item"><a href='/vcscf1' title='vCSCF#1' alt='vCSCF#1'>vCSCF#1</a></div>
          <div class="item"><a href='/vcscf2' title='vCSCF#2' alt='vCSCF#2'>vCSCF#2</a></div>
        </div>
      </div>
    </div>
    <div class="seven wide column">
      <div class="ui loading selection dropdown">
        select Service ??<i class="dropdown icon"></i>
        <div class="menu">
          <div class="item"><a href='/cscf1' title='CSCF#1' alt='CSCF#1'>EVENT</a></div>
          <div class="item"><a href='/cscf2' title='CSCF#2' alt='CSCF#2'>폭주호</a></div>
        </div>
      </div>
    </div>
    <div class="one wide column">
      <div>WARNNING<i class="volume up icon"></i></div>
    </div>


    <div class="eight wide column">
      <center><b>CSCF#1 루트별 시도호</b></center>
      <div id='callChart1' class='c3-line-ata2'></div>
    </div>

    <div class="eight wide column">
      <a href="#cscf2"></a><!--책갈피-->
      <center><b>CSCF#1 루트별 완료율</a></b></center>
      <div id='completeChart1'></div>
    </div>

  </div>

<script>
  var monitoringTime=600000;
  var timeArray=new Array();
  var routeName=['YIWGS1','YIWGS1L','GRWGS1','GRWGS1L','GRWGS2','GRWGS2L'];

//x축시간 표시(사용안함)
function timeLapse(){
  var now=new Date();
  var nowHour=now.getHours();
  var nowMinute=now.getMinutes();
  var epochMonitoringStartTime=now-monitoringTime;
  var monitoringStartTime=new Date(epochMonitoringStartTime);
  var monitoringStartTimeHour=monitoringStartTime.getHours();
  var monitoringStartTimeMinute=monitoringStartTime.getMinutes();

  for(var i=0;i<=monitoringTime/60000;i++){
    if(monitoringStartTimeMinute+i<60){
      timeArray.push(monitoringStartTimeHour+':'+(monitoringStartTimeMinute+i));
    }else{
      var j=60;
      timeArray.push(nowHour+':'+((monitoringStartTimeMinute+i)-j));
    }
  }
  return timeArray;
}
// CSCF#1 시도호 그래프
var callChart1=c3.generate({
  bindto:'#callChart1',
  data:{
  x:'TIME',
  url:'/call_count.json',
  mimeType:'json',
  type:'spline',
  hide:['TIME'],

  },
  grid:{
    x:{
      show:true
    },
    y:{
      show:true
    }
  },

  tooltip:{
    grouped:false
  },
  legend:{
    hide:['TIME','YIWGS1L','GRWGS1L','GRWGS2L'],
    item:{
      onclick:function(id){
      //  console.log(id);
      }
    },
    item:{
      onmouseover:function(id){
        var routeName=['YIWGS1','YIWGS1L','GRWGS1','GRWGS1L','GRWGS2','GRWGS2L'];
        jQuery(document).on('mouseover',".c3-legend-item-"+id,function(){

        callChart1.hide(routeName);
        callChart1.show([id,id+'L']);

        }).on('mouseout','.c3-legend-item-'+id,function(){
          callChart1.show(routeName);
        });
      }
    }
  },
  axis:{
    x:{
      type:'category',
      //categories:'TIME',
      tick:{
        centered:true,
      }
    },
    y:{
      max:400,
      min:100,
      label:{
        text:'시도호',
        position:'outer-middle'
      }
    }
  },
  color:{
    pattern:['#abcdef','#efefef','#cdef01']
  },
  transition:{
    duration:1000
  },
});  //end chart 시도호

//CSCF#1완료율 그래프
var completeChart1=c3.generate({
  bindto:'#completeChart1',
  data:{
  x:'TIME',
  url:'/complete_ratio.json',
  mimeType:'json',
  type:'spline',
  hide:['TIME'],

  },

  tooltip:{
    grouped:false,
  },
  legend:{
    hide:['TIME','YIWGS1L','GRWGS1L','GRWGS2L'],
    item:{
      onclick:function(id){
      //  console.log(id);
      }
    },
    item:{
      onmouseover:function(id){
        var routeName=['YIWGS1','YIWGS1L','GRWGS1','GRWGS1L','GRWGS2','GRWGS2L'];
        jQuery(document).on('mouseover',".c3-legend-item-"+id,function(){
        //console.log('xxx');
        completeChart1.hide(routeName);
        completeChart1.show([id,id+'L']);

        }).on('mouseout','.c3-legend-item-'+id,function(){
          completeChart1.show(routeName);
        });
      }
    }
  },
  axis:{
    x:{
      type:'category',
      //categories:'TIME',
      tick:{
        centered:true
      }
    },
    y:{
      max:100,
      min:20,
      tick:{
        format:d3.format('.0f')
      },
      label:{
        text:'완료율',
        position:'outer-middle'
      }
    }
  },
  color:{
    pattern:['#abcdef','#efefef','#cdef01']
  },
  transition:{
    duration:1000
  },
});  //end chart 완요율

//CSCF#1 시도호 ajax
setInterval(function(){
  jQuery.ajax({
    url:'/call_count.json',
    method:'GET',
    dataType:'json',
  }).done(function(result){
    //console.log(result.TIME);

    result.TIME.unshift('TIME');
    result.YIWGS1.unshift('YIWGS1');
    result.YIWGS1L.unshift('YIWGS1L');
    result.GRWGS1.unshift('GRWGS1');
    result.GRWGS1L.unshift('GRWGS1L');
    result.GRWGS2.unshift('GRWGS2');
    result.GRWGS2L.unshift('GRWGS2L');

    callChart.load({
      columns:[
        result.TIME,
        result.YIWGS1,
        result.YIWGS1L,
        result.GRWGS1,
        result.GRWGS1L,
        result.GRWGS2,
        result.GRWGS2L,
      ],
    });
  }).fail(function(a,b,c){
    console.log('a');
  });
},6000);

//CSCF#2 완료율 ajax
setInterval(function(){
  jQuery.ajax({
    url:'/complete_ratio.json',
    method:'GET',
    dataType:'json',
  }).done(function(result){
    //console.log(result.TIME);

    result.TIME.unshift('TIME');
    result.YIWGS1.unshift('YIWGS1');
    result.YIWGS1L.unshift('YIWGS1L');
    result.GRWGS1.unshift('GRWGS1');
    result.GRWGS1L.unshift('GRWGS1L');
    result.GRWGS2.unshift('GRWGS2');
    result.GRWGS2L.unshift('GRWGS2L');

    completeChart.load({
      columns:[
        result.TIME,
        result.YIWGS1,
        result.YIWGS1L,
        result.GRWGS1,
        result.GRWGS1L,
        result.GRWGS2,
        result.GRWGS2L,
      ],
    });
  }).fail(function(a,b,c){
    console.log('b');
  });
},6000);

</script>
</body>
</html>
