  #layout{
    padding:10px;
    margin:10px;

  }
  .eight{
    /* background-color:#eeeeee; */
  }

  #callChart1 svg,#completeChart1 svg,#callChart2 svg,#completeChart2 svg,
  #callChart3 svg,#completeChart3 svg
  {
    background-color:#454545;
  }

  /* ù������ ���� �׷��� */
  #barCompleteChart1 svg{
    background-color:#cccccc;
  }
  /* x�� ���� */
  .c3 .c3-axis-x path,
  .c3 .c3-axis-x line{
    stroke:#ddd;
  }

  .c3 .c3-axis-y path,
  .c3 .c3-axis-y lines{
    stroke:#ddd;
  }
  /* x �� ���� ��*/
  .c3 .c3-axis-x{
    stroke:white;
    font-weight:100;
  }

  .c3 .c3-axis-y{
    stroke:white;
    font-weight:100;
  }
  /*�Ʒ� ������ ���ڻ� ����*/
  .c3 .c3-legend-item{
     fill:white;
  }

  .ui.four.item.menu .item{
    font-size:2.0em;
    font-weight:bold;
    padding:15px;
    text-shadow:1px 1px 1px #cccccc;
    background-color:#eeeeee;
    /*border:2px solid #cccccc;*/
  }
  .neStatus {
    border:5px solid #cccccc;
    height:150px;
    vertical-align:middle;
    box-shadow:0px 0px 15px #cccccc;
  }

  /* WGS/IBCF/TAS */
  .neStatus p{
    line-height:150px;
    /*display:block;*/
    font-size:3.5em;
    font-weight:bold;
    float:left;
    margin-left:25%;
    margin-bottom:0;
    text-shadow:1px 1px 2px #cccccc;
  }


  /* ���׶��� */
  .neStatus #cscfCircle,#ibcfCircle,#tasCircle{
    width:100px;
    height:100px;
    border-radius:100%;
    background:#d2ff52;
    background:-moz-radial-gradient(center,ellipse cover,#d2ff52 0%,#91e842 100%);
    background:-webkit-radial-gradient(center,ellipse cover,#d2ff52 0%,#91e842 100%);
    /*padding:50px 40px;*/
    text-align:center;
    line-height:10px;
    position:relative;
    top:15%;
    left:5%;
    box-shadow:0 0 22px red;

    display:block;

    float:left;
  }
  /* ���׶��� �� ����(����/������) */
  .neStatus #cscfCircle p,.neStatus #ibcfCircle p,.neStatus #tasCircle p{
    font-size:2em;
    position:relative;
    top:-25%;
    text-shadow:1px 1px 1px #cccccc;
  }


  .alarmContent{
    clear:both;
    border-left:5px solid #cccccc;
    border-right:5px solid #cccccc;
  }

  .alarmContent p{
    width:45%;
    background-color:#cccccc;
    border-radius: 0 0 20px 0;
    font-weight:bold;
    font-size:1em;
    padding:2px;
  }

  #eventWindow{
    border-left:5px solid #cccccc;
    border-right:5px solid #cccccc;
    border-bottom:5px solid #cccccc;
    height:300px;
    overflow:auto;
    box-shadow:0 0 20px #cccccc;
  }
  div.three.column.row{
    padding-top:0;
    padding-bottom:2px;
  }
  .runAway,.runAway1{
    border:5px solid #cccccc;
    height:300px;
    box-shadow:0 0 20px #cccccc;
    overflow:auto;
  }

  .runAway p{
    width:55%;
    background-color:#cccccc;
    border-radius:0 0 20px 0;
    font-weight:bold;
    font-size:1em;
    padding:2px;
  }

  .runAway1 p{
    width:44%;
    background-color:#cccccc;
    border-radius:0 0 20px 0;
    font-weight:bold;
    font-size:1em;
    padding:2px;
  }


  .animated.bounce{
    /* animation-duration:5s;
    animation-delay:10s; */

    /*height:80px;*/
    margin-bottom:20px;
    font-size:3.0em;
    text-shadow:0px 0px 5px #33ff33;
  }
  #block{
    height:10px;
    background-color:red;
  }
